<section class="landing">
  <%= show_message %>

  <div class="bullet">
    <ul>
      <li>
        <p>
          <span>
            Going to events alone can be intimidating. Get to know at least one person by getting there together.
          </span>
        </p>
      </li>

      <li>
        <p>
          <span>
            Get there with ease and peace of mind with our reliable matching and routing suggestions.
          </span>
        </p>
      </li>

      <li>
        <p>
          <span>
            Help reduce your emission footprint and traffic on the road.
          </span>
        </p>
      </li>
    </ul>
  
    <br class="clear" />
  </div>
  

  <ul class="images">
    <li>
      <%= image_tag("hackcommute.png", alt: "hack", width: 148, height: 100 ) %> <br />
    </li>
    <li>
      <%= image_tag("tasteofwashington.jpg", alt: "taste", width: 177, height: 100 ) %> <br />
    </li>
    <li>
      <%= image_tag("mercer_island_half_logo.png", alt: "mercer", width: 325, height: 100 ) %> <br />
    </li>
  </ul>

  <span class="featured-title">Featured events</span>

  <br class="clear" />

  <div class="email-capture">
    <%= form_tag beta_signup_path do %>
      <span>Get news and updates from us:</span>
      <%= text_field_tag(:"signup[email]", nil, placeholder: "Your email(we don't share your info with anyone)" ) %>
      <%= button_tag 'OK' %>
    <% end %>
  </div>

</section>
