
<section id="ride-details">

  <h3>Are you a driver or passenger?</h3>

  <%= form_tag "", autocomplete: 'off' do %>

  <ul class="driver-option">
    <li>

      <%= label_tag(:can_drive) do %>
      <%= radio_button_tag(:drive_ride, "drive", false, id: "can_drive", class: "drive-toggle") %>
      <span>I can drive</span>
      <% end %>
      
      <div class="ride-options">
        <div>
          <div class="address">
            <%= text_field_tag(:address1, nil, placeholder: "Address" ) %>
            <%= text_field_tag(:address2, nil, placeholder: "City, State Zip")  %>
          </div>
         
          <h4>Passenger preference</h4>
          <ul class="option-list">
            <li>
              <%= label_tag(:women) do %>
              <%= radio_button_tag(:preference, "Women", false, id: "women") %>
              <span>Women</span>
              <% end %>
            </li>
            <li>
              <%= label_tag(:men) do %>
              <%= radio_button_tag(:preference, "Men", false, id: "men") %>
              <span>Men</span>
              <% end %>
            </li>
            <li>
              <%= label_tag(:none) do %>
              <%= radio_button_tag(:preference, "None", false, id: "none") %>
              <span>None</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    
    <li>
      <%= label_tag(:need_ride) do %>
      <%= radio_button_tag(:drive_ride, "ride", false, id: "need_ride", class: "drive-toggle") %>
      <span>I need a ride</span>
      <% end %>

      <div class="ride-options">
        <div>
          <div class="address">
            <%= text_field_tag(:address1, nil, placeholder: "Address" ) %>
            <%= text_field_tag(:address2, nil, placeholder: "City, State Zip")  %>
          </div>
         
          <h4>Passenger preference</h4>
          <ul>
            <li>
              <%= label_tag(:women_ride) do %>
              <%= radio_button_tag(:preference, "Women", false, id: "women_ride") %>
              <span>Women</span>
              <% end %>
            </li>
            <li>
              <%= label_tag(:men_ride) do %>
              <%= radio_button_tag(:preference, "Men", false, id: "men_ride") %>
              <span>Men</span>
              <% end %>
            </li>
            <li>
              <%= label_tag(:none_ride) do %>
              <%= radio_button_tag(:preference, "None", false, id: "none_ride") %>
              <span>None</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <% end %>

</section>

<%= javascript_tag do %>

  $('#ride-details').on('change', '.drive-toggle', function(evt) {
    var optionContainers = jQuery(this).find('.driver-option .ride-options');
    optionContainers.removeClass('active');
    var targetElement = jQuery(evt.target).closest('li').find('.ride-options');
    targetElement.addClass('active');
  })

<% end %>
